{% capture footer_contents %}
  &copy; Copyright 2026 Sanghyeon Yun. &copy; Climate Science Lab, Kyungpook National University.<br>Built with Jekyll and the <a href="https://github.com/alshedivat/al-folio">al-folio</a> theme. Hosted on GitHub Pages.
{% endcapture %}

{% if site.footer_fixed %}
  <footer class="fixed-bottom" role="contentinfo">
    <div class="container mt-0">
      {{ footer_contents }}
    </div>
  </footer>
{% else %}
  <footer class="lab-footer" role="contentinfo">
    {% if site.newsletter.enabled %}
      {% include newsletter.liquid %}
    {% endif %}

    <div class="container">
      {{ footer_contents }}
    </div>
  </footer>
{% endif %}
